* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--color01: rgb(0, 0, 0);
	--color02: #7d7d7d;
	--color03: #e5e5e5;
	--color04: #f3f3f3;
	--color05: #ffffff;
}

html {
	font-family: 'Libre Baskerville', serif;
}

body {
	background-color: var(--color05);
}
